@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light.woff") format("woff"),
    url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Black";
  src: url("../fonts/ProximaNova-Black.woff") format("woff"),
    url("../fonts/ProximaNova-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir-Black";
  src: url("../fonts/Avenir-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #0c0c0c;
  height: 100vh;
  font-family: "ProximaNova-Regular";
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}

.logo__text {
  margin-left: 11px;
  color: #fff;

  font-family: "Avenir-Black", sans-serif;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
}

.burger span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.burger span:nth-child(even) {
  width: 13px;
  margin: 4px 0;
}
